.DS_Store
*/.DS_Store
.idea/.idea.vegxportfolio/.idea/contentModel.xml
.idea/.idea.vegxportfolio/.idea/indexLayout.xml
.idea/.idea.vegxportfolio/.idea/modules.xml
.idea/.idea.vegxportfolio/.idea/vcs.xml
.idea/.idea.vegxportfolio/.idea/workspace.xml
.idea/.idea.vegxportfolio/riderModule.iml
