@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.ttf?4brevy') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  scroll-behavior: smooth;
}

html {
  /* scroll-snap-type: y mandatory; */
  scroll-behavior: smooth;
  overscroll-behavior-y: none;

  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
  font-family: Montserrat, sans-serif;
}

header {
  position: fixed;
  z-index: 100;
  top: 0;
  padding: 16px;
  display: flex;
  width: 100%;
  justify-content: center;

  background-color: rgb(107, 107, 179);
  border-bottom: 1px grey;
}

header a {
  padding-right: 20px;
  text-decoration: none;

  color: white;
}

.home {
  flex: 1;
  font-weight: bold;
}

.headroom {
  will-change: transform;
  transition: transform 200ms linear;
}
.headroom--pinned {
  transform: translateY(0%);
}
.headroom--unpinned {
  transform: translateY(-100%);
}

.cover {
  height: 100vh;
  overflow: hidden;
  position: relative;
  scroll-snap-align: start;
  z-index: -1;
}

.cover video {
  position: absolute;
  min-height: 100vh;
  min-width: 100vw;
}

.title {
  scroll-snap-align: start;
  display: flex;
  justify-content: center;

  padding-top: 50px;
  padding-bottom: 50px;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fill,300px);
  grid-template-rows: repeat(auto-fill,300px);
  justify-items: center;
  justify-content: center;
  gap: 15px;
}

.project {
  width: 300px;
  height: 300px;

  position: relative;

  overflow: hidden;
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 8px;

  background-color: rgba(0,0,0,0.6);

  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: center;
  align-items: center;

  opacity: 0;

  transition: opacity 0.25s ease;
  -webkit-transition: opacity 0.25s ease;

  z-index: 1;
}

.overlay-title {
  color: white;
  align-self: center;
  text-align: center;
}

.hover .overlay {
  opacity: 1;
}

.project:hover {
  cursor: pointer;
}

.project img {
  width: 300px;
  height: 300px;

  object-fit: cover;
  object-position: 50% 50%;

  transform: none;

  transition: transform 0.25s ease;
  -webkit-transition: transform 0.25s ease;
}

.hover img {
  transform: scale(1.1);
}

.about {
  background-color: rgb(107, 107, 179);
  padding: 20px;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  color: white;
}

.headshot {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.info {
  display: flex;
  flex-direction: column;
  padding-left: 50px;
}

.info h3 {
  font-size: 24px; 
}

.info p {
  max-width: 450px;
}

#modal {
  position: fixed;
  top: 9999px;
  left: 50%;
  transition: all 1s ease-in-out;
  z-index: 500;
  background-color: white;
  max-height: 95vh;
  overflow-y: scroll;
  border: 1px solid #d3d3d3;
  border-radius: 3px;
}

#modal.show {
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);

  padding: 8px 8px 8px 18px;
}

#modal .modal-title {
  text-align: center;
}

#modal-overlay {
  background-color: rgba(0,0,0,0);
  transition: all 0.5s ease-in-out;
}

#modal-overlay.show {
  position: fixed;
  z-index: 400;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.7);
  transition: all 0.5s ease-in-out;
}

.contact-me {
  font-family: 'icomoon';
  font-size: 0px;
  list-style: none;

  display: flex;
  width: 100%;
  align-self: center;
  justify-content: center;

  padding-top: 50px;
  padding-bottom: 50px;

  margin-bottom: 50px;
  background-color: rgb(107, 107, 179);
}

.contact-me a {
  text-decoration: none;
  display: inline-flex;
  padding: 12px;
  color: #fff;
  transition: color 0.5s ease-in-out;
}

.contact-me a::before {
  font-size: 48px;
}

.contact-me a:hover {
  color: #333;
}

.icon-linkedin:before {
  content: "\e902";
}

.icon-behance:before {
  content: "\e901";
}

.icon-artstation:before {
  content: "\e900";
}

#footer {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 12px 0px 12px 12px;
}

.cover-wrapper {
  display: inline-flex;
  text-align: center;
  width: 50vw;
  height: 265px;

  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.cover-wrapper a {
  width: 100%;
  max-height: 250px;
  flex-wrap: nowrap;
  transition: flex 0.25s ease-in-out;
}

.cover-wrapper a:hover {
  flex: 6;
}

.cover-wrapper a:not(:hover) {
  flex: 1;
}

.cover-wrapper a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cover-wrapper a video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.modal-link-title, .modal-link {
  display: none;
}

.sketchfab-embed-wrapper {
  text-align: center;
}